<fbp-main #fbp>
  <ng-template #nodeTemplateRef let-node="node">
    <fbp-node [id]="node.id">
      <ng-container *ngIf="!node.type;else renderNode">
        <ng-template ngFor let-child [ngForOf]="getChildNodes(node)">
          <ng-template [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ node: child }">
          </ng-template>
        </ng-template>
      </ng-container>
    </fbp-node>

    <ng-template #renderNode>
      <fbp-random-number-generator *ngIf="node.type === 'random-number-generator'"></fbp-random-number-generator>
      <fbp-logger *ngIf="node.type === 'logger'"></fbp-logger>
    </ng-template>
  </ng-template>

  <ng-container *ngIf="getRoodChildNodes();let nodes">
    <ng-template *ngFor="let node of nodes" [ngTemplateOutlet]="nodeTemplateRef" [ngTemplateOutletContext]="{ node: node }">
    </ng-template>
  </ng-container>
</fbp-main>
